#patron-component {
  background-color: #512721;
  height: 100vh;
}

#status-container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  opacity: 0;

  &.loaded {
    opacity: 1;
    transition: opacity .8s ease 1.5s;
  }
}

#pour-button {
  width: 200px;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  margin: 0 auto;
  transition: transform 0.3s ease 0s, opacity 0.8s ease 0s, visibility 0s ease 0.8s;

  &.hidden-until-relevant {
    display: none;
  }

  #pour-button-shadow {
    transition: transform 0.3s ease 0s, opacity 0.8s ease 0s, visibility 0s ease 0.8s;
  }

  &.clicked {
    transform: scale(0.94) translate3d(-10px, 10px, 0);

    #pour-button-shadow {
      transform: translate3d(7px, -7px, 0);
    }
  }
}

#queue-info {
  width: 200px;
  text-align: center;

  &.hidden-until-relevant {
    display: none;
  }

  .queue-label span {
    color: rgba(255, 255, 255, .6);
    font-size: 24px;
    font-weight: 300;
  }

  .queue-number span {
    color: rgba(255, 255, 255, .8);
    font-size: 72px;
    font-weight: 500;
  }
}

.patron-section {
  .patron-avatar {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, .54);
    margin-right: 12px;
    box-sizing: border-box;
  }
  .patron-name {
    color: rgba(255, 255, 255, .8);
    font-size: 48px;
    font-weight: 400;
  }
  .patron-history {
    color: rgba(255, 255, 255, .6);
    font-size: 20px;
    font-weight: 300;
    margin: 0;
    text-align: center;
  }
}

#current-order {
  height: 370px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: -20px;
  width: 248px;

  &.hidden-until-relevant {
    display: none;
  }

  div {
    position: absolute;
  }

  #beaker {
    border: 10px solid #FFF;
    border-top: 0;
    border-radius: 0 0 30px 30px;
    height: 200px;
    left: 14px;
    bottom: 0;
    width: 200px;

    &:before, &:after {
      border: 10px solid #FFF;
      border-bottom: 0;
      border-radius: 30px 30px 0 0;
      content: '';
      height: 30px;
      position: absolute;
      top: -40px;
      width: 30px;
    }

    &:before {
      left: -50px;
    }

    &:after {
      right: -50px;
    }
  }

  #liquid {
    background-color: #edaf32;
    border: 10px solid #edaf32;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    overflow: hidden;
    width: 180px;

    height: 0;

    animation: fill-up;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 1000ms;
    animation-duration: 5000ms;

    &:after {
      background-color: rgba(255, 255, 255, 0.25);
      bottom: -10px;
      content: '';
      height: 200px;
      left: -40px;
      position: absolute;
      transform: rotate(30deg);
      -webkit-transform: rotate(15deg);
      width: 110px;
    }

    .bubble {
      animation-name: bubble;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      background-color: rgba(255, 255, 255, 0.2);
      bottom: 0;
      border-radius: 10px;
      height: 20px;
      width: 20px;

      &.bubble1 {
        left: 10px;
        animation-delay: 1000ms;
        animation-duration: 1000ms;
      }

      &.bubble2 {
        left: 50px;
        animation-delay: 700ms;
        animation-duration: 1100ms;
      }

      &.bubble3 {
        left: 100px;
        animation-delay: 1200ms;
        animation-duration: 1300ms;
      }

      &.bubble4 {
        left: 130px;
        animation-delay: 1100ms;
        animation-duration: 700ms;
      }

      &.bubble5 {
        left: 170px;
        animation-delay: 1300ms;
        animation-duration: 800ms;
      }
    }
  }
  

  /* Foam */
  .beer-foam {
    position: absolute;

    bottom: 10px;

    animation: foam-up;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-delay: 1000ms;
    animation-duration: 5000ms;

    .foam-1, .foam-2, .foam-3, .foam-4, .foam-5, .foam-6, .foam-7 {
      float: left;
      position: absolute;
      z-index: 999;
      width: 50px;
      height: 50px;
      border-radius: 30px;
      background-color: #fefefe;
    }

    .foam-1 {
      top: -30px;
      left: -10px;
    }

    .foam-2 {
      top: -35px;
      left: 20px;
    }

    .foam-3 {
      top: -25px;
      left: 50px;
    }

    .foam-4 {
      top: -35px;
      left: 80px;
    }

    .foam-5 {
      top: -30px;
      left: 110px;
    }

    .foam-6 {
      top: -20px;
      left: 140px;
    }

    .foam-7 {
      top: -30px;
      left: 160px;
    }
  }
}

@-moz-keyframes bubble {
  0% {
    bottom: 0;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px;
  }
}

@-webkit-keyframes bubble {
  0% {
    bottom: 0;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px;
  }
}

@keyframes bubble {
  0% {
    bottom: 0;
  }

  50% {
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 80px;
  }

  100% {
    background-color: rgba(255, 255, 255, 0);
    bottom: 160px;
  }
}


@keyframes fill-up {
  0% {
    height: 0;
  }

  50% {
    height: 85px;
  }

  100% {
    height: 170px;
  }
}

@keyframes foam-up {
  0% {
    bottom: 10px;
  }

  50% {
    bottom: 95px;
  }

  100% {
    bottom: 200px;
  }
}