service cloud.firestore {
  match /databases/{database}/documents {
    match /orders/{orderId} {
      allow read;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && request.resource.data.patronId == patronId;
    }
    match /patrons/{patronId} {
      allow read, write: if request.auth != null && request.auth.uid == patronId;
    }
  }
}